apiVersion: automationcontroller.ansible.com/v1beta1
kind: AutomationController
metadata:
  name: {{ aapctl_instance_name }}
spec:
  create_preload_data: true
  route_tls_termination_mechanism: Edge
  garbage_collect_secrets: true
  service_type: ClusterIP
  ingress_type: Route
  loadbalancer_port: 80
  projects_use_existing_claim: _No_
  image_pull_policy: IfNotPresent
  projects_storage_size: 20Gi
  task_privileged: false
  projects_storage_access_mode: ReadWriteMany
  projects_persistence: true
  replicas: {{ aapctl_instance_replicas }}
  admin_user: admin
  loadbalancer_protocol: http
  nodeport_port: 30080
  route_host: {{ aapctl_instance_route }}
